<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="container">
        <div class="col-md-4">
            <h1>Create player</h1>
            <form action="https://soccerapi.herokuapp.com/api/players" method="post" class="form-horizontal">
                <input type="text" name="name" placeholder="Player name">
                <input type="text" name="clubId" placeholder="Club id">
                <input type="text" name="image" placeholder="Image">
                <input type="text" name="position" placeholder="Position">
                <input type="submit" value="Submit" class="btn btn-success">
            </form>
        </div>
    </div>
</body>
</html>