<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<% for(var i = 0; i < content.length; i++) { %>
<div>
    <img src="<%= content[i].image %>" />

    <h3> <%= content[i].name %> </h3>
</div>
<% } %>
</body>
</html>